<div class="form">
  <label for="name">Author name:</label>
  <input id="name" type="text" {{on "input" (fn this.updateField "name")}} />

  <button type="button" {{on "click" this.addAuthor}}>Add Author</button>
</div>