{{page-title "Account"}}

<div class="account">
  <p>Name: {{@model.person.name}}</p>
  <p>Account name: {{@model.nickname}}</p>
  <p>created on: {{@model.created}}</p>
</div>

<div class="account">
  <MuChangePassword />
</div>

<div class="account">
  <MuLogout />
</div>