<h2>Add a new book</h2>

<label for="title">Title:</label>
<input id="title" type="text" {{on "input" this.printData}} />

<label for="genre">Genre:</label>
<input id="genre" type="text" />

<label for="pages">Pages:</label>
<input id="pages" type="number" />

<label for="language">Language:</label>
<input id="language" type="text" />

<label for="publisher">Publisher:</label>
<input id="publisher" type="text" />

<label for="date">Published on:</label>
<input id="date" type="date" />

<label for="isbn">ISBN:</label>
<input id="isbn" type="text" />